<h2 mat-dialog-title *ngIf="isAddMode">Add Medicine Types</h2>
<h2 mat-dialog-title *ngIf="!isAddMode">Update Medicine Types</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <div class="row no-gutters">
      <div class="col-12">
        <mat-form-field style="width: 100%">
          <mat-label>Type Name</mat-label>
          <input
            matInput
            placeholder="Enter Type Name"
            formControlName="typeName"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="button">
      <button type="button" mat-button (click)="closeDialog()">Cancel</button>
    </div>
    <div class="button">
      <button type="submit" color="primary" mat-button>Submit</button>
    </div>
  </mat-dialog-actions>
</form>
